.stepper-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 20px;
    padding: 0 10px; /* Zmniejszenie odstępu po bokach */
}

.stepper-nav::before {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(12px + 10px); /* Zaczyna się od środka pierwszego kółka, plus padding */
    right: calc(12px + 10px); /* Kończy się na środku ostatniego kółka, minus padding */
    height: 2px;
    background-color: #28a745;
    z-index: -1;
    transform: translateY(-50%);
}

.stepper-item {
    flex: 1;
    text-align: center;
    position: relative;
}

.stepper-item h3 {
    margin-bottom: 0;
    font-size: 1rem;
    margin-top: 1rem;
}

.stepper-item .circle {
    width: 24px;
    height: 24px;
    background-color: #fff;
    border: 2px solid #28a745;
    border-radius: 50%;
    margin: 0 auto 10px auto; /* Dostosowanie marginesu */
    position: relative;
    z-index: 1;
}

.stepper-item.current .circle {
    background-color: #28a745;
}

.stepper-item.current h3 {
    font-weight: bold;
    color: #28a745;
}

.stepper-item.completed .circle {
    background-color: #28a745;
    color: #fff;
}

.stepper-item.completed h3 {
    color: #28a745;
}
